body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #4d90fe;
  text-decoration: none;
}
a:hover {
  color: #0161fd;
  text-decoration: underline;
}
a:active {
  color: #dd4b39;
}