/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bourbon";
@import "neat";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);


body  {
	background-color: #eceef1;
}

div.container {
	@include outer-container;
	background-color: white;
}

div.row {
	@include span-columns(12);
}

div.one_third {
	@include span-columns(4);
}

div.one_fourth {
	@include span-columns(3);
}

div.updateform {
	@include shift(1);
	@include span-columns(10);
}

@media screen and (max-width: 480px) {
	div.one_fourth {
		@include span-columns(12);
	}
}

div.two_thirds {
	@include span-columns(8);
}

div.five_sixth {
	@include span-columns(10);
	@include shift(1);
}

div.navigation {
	height:  200px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	border-top: 4px solid black;
	a {
		color: black;
		&:hover {
			color: black;
			text-decoration: none;
		}
	}
}

div.footer {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 4px solid black;
}

