// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.org-row {
	border-bottom: 1px solid #eceef1;
	padding-left: 20px;
	padding-bottom: 20px;
}